use asdf

asdf install

export GF_PATHS_PROVISIONING="$(pwd)/provisioning"
export GF_PATHS_PLUGINS="$(pwd)/plugins"

export GF_LOG_LEVEL=debug
export GF_DATAPROXY_LOGGING=true
export GF_DEFAULT_APP_MODE=development
