[submodule "grafana"]
	path = grafana
	url = https://github.com/grafana/grafana.git
[submodule "grafana-azure-sdk-go"]
	path = grafana-azure-sdk-go
	url = git@github.com:randywallace/grafana-azure-sdk-go.git
[submodule "grafana-infinity-datasource"]
	path = grafana-infinity-datasource
	url = git@github.com:randywallace/grafana-infinity-datasource.git
